@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body {
    background: #BEC6D5;
    text-align: center;
    padding: 0 25px;
    font-family: 'Lato', sans-serif;
}

.username{
    font-weight: bold;
    color:#403F6F;
}
.username:hover{
    color:#91A7D0;
}

#chats>li{
    display: block;
    padding: 5px 10px;
}

li:nth-child(odd){
    background-color: #eef0f4;
}

.roomname {
    float: right;
    color: gray;
    font-size: 14px;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 20px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;

    text-align:center;
    font-weight:700;

    /*text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);*/
    color:#91A7D0;
   text-shadow:
       0px 0px 5px #403F6F,
     -1px -1px 0 #403F6F,  
      1px -1px 0 #403F6F,
      -1px 1px 0 #403F6F,
       1px 1px 0 #403F6F;
       
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}
